.angrySentenceText {
    font-size: 100%;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #000;
    line-height: 60px;
    text-decoration: underline;


}

.niceSentenceText {
    font-size: 100%;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: #000;
    line-height: 60px;
}

.smallerSentenceText {
    font-size: 100%;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 60px;
    color: green;
}

.mediumSentenceText {
    font-size: 100%;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #000;
    line-height: 60px;
}

.wholeSentenceText {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    display: inline;
}

.sentenceContainer {
    margin: 4rem auto;
    max-width: 800px;
    text-align: center;
}

.Yes{
    margin-right: 50px !important;

}

.yesNoButtons {
    justify-content: center;
}